.root {
    -tab-body: linear-gradient(
        to bottom,
        derive(-fx-color,40%) 0%,
        derive(-fx-color, -10%) 100%
    );
}

.tooltip {
    -fx-text-fill: #555555;
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.9em;
}

.progress-bar {
    -fx-min-height: 20;
    -fx-max-width: Infinity;
}

.split-pane {
    -fx-background-insets: 0, 0;
}

.split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: transparent;
}

.table-row-cell {
    -fx-cell-size: 20;
    -fx-font-size: 0.9em;
}

#rootPane {
    -fx-padding: 10;
}

.console {
    -fx-font-family: Consolas;
    -fx-text-fill: #555555;
}

.tab-button {
     -fx-min-width: 40;
     -fx-min-height: 20;
     -fx-background-size: 20 20;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
}

.field-wrong {
    -fx-border-color: #ff5050;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.tip-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/icons/help.png");
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.spaced-grid-pane HBox, .spaced-grid-pane Label{ {
    -fx-spacing: 10;
    -fx-alignment: center-right;
    -fx-max-width: Infinity;
}

.spaced-grid-pane Spinner, .spaced-grid-pane ComboBox {
    -fx-pref-width: 60;
}

.spaced-grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.spaced-box {
    -fx-spacing: 10;
}

.spaced-grid-pane .spaced-box {
    -fx-spacing: 5;
}

.image-btns-bar {
    -fx-spacing: 0;
    -fx-padding: 0;
}

.image-btns-bar VBox {
    -fx-spacing: 0px;
    -fx-alignment: top-left;
}

.image-btns-bar Button {
    -fx-alignment: bottom-center;
    -fx-min-height: 50;
    -fx-max-width: 70;
    -fx-min-width: 70;

    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 5;

    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.control-btn {
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}

.image-btns-bar Button:hover {
    -fx-background-color: #dfdfdf;
}

.v-separator {
    -fx-padding: 0 5 0 5;
}

.h-separator {
    -fx-padding: 0 0 0 0;
}

.image-btns-bar CheckBox {
       -fx-alignment: top-left;
}

#settingsBtn {-fx-background-image: url("/images/icons/settings.png")}
#addBtn {-fx-background-image: url("/images/icons/add.png")}
#importBtn {-fx-background-image: url("/images/icons/folder_with_contents.png")}
#clearBtn {-fx-background-image: url("/images/icons/delete.png")}
#exportBtn {-fx-background-image: url("/images/icons/export_to_file.png")}
#startBtn {-fx-background-image: url("/images/icons/play.png")}
#resumeBtn {-fx-background-image: url("/images/icons/play.png")}
#pauseBtn {-fx-background-image: url("/images/icons/pause.png")}
#stopBtn {-fx-background-image: url("/images/icons/stop.png")}

.marked-bg {
    -fx-background-color: red;
}

.table-title {
    -fx-padding: 4 4 0 4;
    -fx-min-height: 24;
    -fx-max-height: 24;
    -fx-background-color: #cccccc, -tab-body;
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 3 3 0 0;
    -fx-spacing: 10;
}

.center-right-align {
    -fx-alignment: CENTER-RIGHT;
}

.popover .border {
    -fx-border-width: 0 !important;
    -fx-fill: -fx-base !important;
    -fx-effect: dropshadow(gaussian, lightgray, 6.0, 0.0, 1.0, 1.0);
}

.row-num-col {
    -fx-pref-width: 25;
    -fx-alignment: center-right;
}

.row-num-col-cell {
        -fx-background-color: -fx-table-cell-border-color, -fx-hover-base;
        -fx-background-insets: 0, 0 0 3 0;
}

